*{
    background: linear-gradient(to right, #00AAFF, #00FF6C);
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 50px;
    cursor: pointer;
    margin-left: 250px;
}
h1:hover{
    color: rgb(0, 0, 0);
}
button{
    color: white;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 40px;
    margin-left: 43%;
    margin-top: 40px;
    text-align: center;
}

#zamanlayici {
    font-size: 20px;
    display: block;
    margin-top: 50px;
    padding: 10px 20px;
}
#timer {
    font-size: 24px;
    text-align: center;
    margin-top: 25px;
    color: white;
    margin-right: 110px;
}
